* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./Asstes/cloud.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0; 
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar {
    background: rgba(0, 0, 50, 0.6) !important;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}

.navbar a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:hover {
    color: #f39c12 !important;
}

.card {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: rgba(0, 0, 50, 0.7) !important;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.card-body {
    padding: 15px;
    flex-grow: 1;
    overflow: hidden;
}

.card-footer {
    padding: 10px;
    background-color: rgba(0, 0, 50, 0.7);
    color: #fff;
    text-align: center;
}

.table {
    background-color: rgba(0, 0, 50, 0.3) !important;
    color: #ffffff !important;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
    max-height: 400px;
    display: block;
    overflow-y: auto;
}

.table td{
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.1rem;
    background-color: rgba(0, 123, 255, 0.2);
    color: #ffffff;
}

.table th,
.table td {
    padding: 10px 30px;
    padding-bottom: 0p;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.table th {
    background-color: rgba(0, 0, 50, 0.8) !important;
    color: #f39c12;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.1) !important;
}

input#city {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    width: 250px;
    transition: all 0.3s ease;
}

input#city::placeholder {
    color: #dcdcdc;
}

input#city:focus {
    outline: none;
    border: 2px solid #f39c12;
}

#submit {
    background-color: #f39c12;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #e67e22;
}

#submit:focus {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 30px; */
    flex-grow: 1;
    margin-top: 4.2rem;
}

h2,
h4 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    .row-cols-md-4 {
        grid-template-columns: 1fr 1fr;
    }

    .table {
        max-height: 250px;
    }

    .card {
        height: auto;
    }
}
